:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --primary-bg-color: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}
/* Logo */

.logo {
  color: var(--title-text-color);
  text-transform: uppercase;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  /* margin-right: 77px; */
}
.logoweb {
  color: var(--accent-color);
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* MOBILE */

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .contacts {
    display: none;
  }
  .icon-link {
    display: flex;
    background-color: var(--accent-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
  .main-nav {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .header-image {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  /* Mobile menu */
  .mobile-menu-open {
    position: absolute;
    top: 24px;
    right: 16px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
    fill: var(--title-text-color);
  }
  .mobil-menu {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 796px;
    top: 0;
    left: 0;
    background-color: var(--primary-bg-color);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow-y: scroll;
    padding-bottom: 80px;
    transform: translateX(100%);
    transition: transform 250ms var(--timing-function),
      opacity 250ms var(--timing-function),
      visibility 250ms var(--timing-function);
  }
  .mobil-menu.is-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobil-menu_container {
    display: flex;
    position: relative;
    padding-top: 80px;
    padding-left: 40px;
    flex-direction: column;
    justify-content: space-between;
  }
  .mobil-menu_close-btn {
    padding: 0;
    line-height: 0;
    position: absolute;
    top: 40px;
    right: 25px;
    transform: translate(50%, -50%);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    cursor: pointer;
    border: 1px Solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms var(--timing-function),
      fill 250ms var(--timing-function);
  }
  .mobil-menu_close-btn:hover,
  .mobil-menu_close-btn:active {
    background-color: var(--accent-color);
  }
  .mobil-menu-nav .link {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    display: block;
    transition: color 250ms var(--timing-function);
  }
  .mobil-menu-nav .link:hover,
  .mobil-menu-nav .link:active {
    color: var(--accent-color);
  }
  .mobil-menu-link:not(:last-child) {
    padding-bottom: 40px;
  }
  .mobil-menu-contacts {
    margin-top: auto;
    margin-bottom: 48px;
  }
  .mobil-tel .link {
    color: var(--primary-text-color);
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    transition: color 250ms var(--timing-function);
  }
  .mobil-tel .link:active,
  .mobil-tel .link:hover {
    color: var(--accent-color);
  }
  .mobil-mail .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    transition: color 250ms var(--timing-function);
  }
  .mobil-mail .link:active,
  .mobil-mail .link:hover {
    color: var(--accent-color);
  }
  .mobil-media {
    display: flex;
    gap: 56px;
  }
  /* Hero */
  .section-header {
    text-align: center;
    padding-bottom: 112px;
    padding-top: 112px;
    background-color: var(--title-text-color);
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mobile.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .section-header {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-mobile@2x.webp);
    }
  }

  .section-header-title {
    color: var(--primary-bg-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    margin: 0 auto;
    margin-bottom: 72px;
    max-width: 318px;
  }
  .section-header-button:hover,
  .section-header-button:focus {
    color: var(--primary-bg-color);
    background-color: #404bbf;
    cursor: pointer;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border: none;
  }
  .section-header-button {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    text-align: center;
    letter-spacing: 0.04em;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 170px;
    box-shadow: rgba(0, 0, 0, 0.15);
    border: none;
    transition: background-color 250ms var(--timing-function),
      box-shadow 250ms var(--timing-function);
    display: inline-block;
  }
  /* About us */
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
  }
  .text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.2;
  }
  .feature-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature-list .title {
    color: var(--title-text-color);
    margin-bottom: 8px;
  }
  .feature-list .text {
    color: var(--primary-text-color);
  }
  .feature-iteam {
    max-width: 396px;
  }
  .feature-iteam:not(:last-child) {
    margin-bottom: 72px;
  }

  .feature-iteam-icon {
    display: none;
  }
  .icon-antenna {
    display: none;
  }
  /* our team */
  .section {
    padding-bottom: 128px;
  }
  .our-team {
    background-color: #f4f4fd;
  }
  .team-list {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 72px;
  }
  .our-team-box {
    padding: 32px 0 12px 0;
  }
  .team {
    color: var(--title-text-color);
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
  }
  .team-title {
    color: var(--title-text-color);
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  .team-text {
    color: var(--primary-text-color);
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
  .our-team-fon {
    max-width: 264px;
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }

  .icon-link {
    display: flex;
    background-color: var(--accent-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }

  .icon-link-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
  }
  .customers-title {
    color: var(--title-text-color);
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 72px;
  }
  .customers-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    column-gap: 16px;
    row-gap: 72px;
  }

  .logo-company {
    display: flex;
    gap: 24px;
    fill: currentColor;
  }
  .logo-company-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 88px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    color: #8e8f99;
    transition: color 250ms var(--timing-function),
      border-color 250ms var(--timing-function);
  }
  .logo-company-box:hover,
  .logo-company-box:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
    outline: var(--accent-color);
  }
  /* Footer */
  .logofooter {
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    color: #f4f4fd;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    display: inline-block;
    margin-bottom: 16px;
  }

  .footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    text-align: center;
  }
  .footertext {
    color: #e7e9fc;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    max-width: 264px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }
  .social-media-title {
    color: #ffffff;
    font-weight: 600px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
  }
  .footer-link {
    justify-content: center;
    display: flex;
    gap: 16px;
  }

  .social-media {
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
  }
  .footer-link-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--timing-function);
  }
  .footer-link-logo:hover,
  .footer-link-logo:focus {
    background-color: #31d0aa;
  }
  .part-position {
    display: block;
  }
  .form {
    align-items: flex-end;
    margin-left: auto;
    gap: 24px;
    margin-top: 72px;
  }
  .email-input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    min-width: 264px;
    height: 40px;
    color: #ffffff;
    padding-left: 16px;
  }
  .form-subscribe {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    letter-spacing: 0.02em;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
  .form-subscribe-title {
    margin-bottom: 16px;
  }
  .email-input::placeholder {
    letter-spacing: 0.04em;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: rgba(255, 255, 255, 0.6);
  }
  .form-button {
    margin-top: 16px;
    position: relative;
    background-color: var(--accent-color);
    color: #ffffff;
    border: none;
    letter-spacing: 0.04em;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    padding: 8px 64px 8px 24px;
    position: relative;
    cursor: pointer;
    transition: background-color 250ms var(--timing-function),
      box-shadow 250ms var(--timing-function);
  }

  .buttom-icon {
    position: absolute;
    top: 10px;
    right: 24px;
  }

  .form-title {
    color: #ffffff;
    letter-spacing: 0.02em;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    overflow-y: scroll;
    transition: opacity 250ms var(--timing-function),
      visibility 250ms var(--timing-function);
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .modal {
    padding-left: 24px;
    padding-right: 24px;
    width: 408px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 408px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px, 2px, 1px rgba(0, 0, 0, 0.2), 0px, 1px,
      3px rgba(0, 0, 0, 0.12), 0px, 1px, 1px rgba(0, 0, 0, 0.14);
    transition: opacity 250ms var(--timing-function);
    position: relative;
    padding: 72px 24px 24px 24px;
  }

  .modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    cursor: pointer;
    border: 1px Solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms var(--timing-function),
      fill 250ms var(--timing-function);
  }
  .modal-button:hover,
  .modal-button:focus {
    background-color: #404bbf;
    fill: #ffffff;
    outline: #404bbf;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
  }
  .modal-form-title {
    margin-bottom: 14px;
    color: #2e2f42;
    letter-spacing: 0.02em;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
  .modal-form-input-desc {
    display: block;
    color: #8e8f99;
    letter-spacing: 0.04em;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    margin-bottom: 4px;
    margin-top: 8px;
    text-align: left;
  }
  .madal-form-field {
    margin-bottom: 26px;
  }
  .modal-form-input {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding-left: 38px;
    fill: black;
    transition: border-color 250ms var(--timing-function);
  }
  .modal-form-input-wrapper {
    display: block;
    position: relative;
  }
  .modal-form-input:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  .modal-form-input:focus + .modal-form-input-icon .icon-svg {
    fill: var(--accent-color);
  }
  .icon-svg {
    display: block;
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
    transition: fill 250ms var(--timing-function);
  }
  .modal-form-message {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms var(--timing-function);
    margin-bottom: 16px;
  }
  .modal-form-message::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-form-message:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  .modal-form-check-desk {
    display: flex;
    align-items: center;
    color: #757575;
    letter-spacing: 0.04em;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    margin-bottom: 24px;
  }
  .modal-form-check-desk::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1.25px solid #2e2f42;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
  }
  .modal-form-check:checked + .modal-form-check-desk::before {
    background-color: #404bbf;
    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .modal-form-check:focus + .modal-form-check-desk::before {
    outline: 1.25px solid #2e2f42;
  }
  .modal-form-submit {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    text-align: center;
    letter-spacing: 0.04em;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: inline-block;
    border: none;
    transition: background-color 250ms var(--timing-function),
      box-shadow 250ms var(--timing-function);
    align-self: center;
    margin-bottom: 24px;
  }
  .modal-form-submit:focus,
  .modal-form-submit:hover {
    color: var(--primary-bg-color);
    background-color: #404bbf;
    cursor: pointer;
    border: none;
  }
}

/* TABLET */

@media screen and (min-width: 768px) {
  .mobil-menu {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }
  .logo {
    margin-right: 123px;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
  }
  .header-image {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .main-nav {
    display: flex;
    align-items: center;
  }
  .site-nav {
    display: flex;
  }
  .site-nav .iteam + .iteam {
    margin-left: 40px;
  }
  .site-nav .link {
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms var(--timing-function);
  }
  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--accent-color);
  }
  .link.current {
    position: relative;
    color: var(--accent-color);
  }
  .link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    box-shadow: 0px, 4px, 4px rgba(0, 0, 0, 0.25);
  }
  .contacts-link {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    transition: color 250ms var(--timing-function);
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: var(--accent-color);
  }

  .section-header {
    text-align: center;
    padding-bottom: 108px;
    padding-top: 112px;
    background-color: var(--title-text-color);
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .section-header {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-tablet@2x.webp);
    }
  }

  .section-header-title {
    color: var(--primary-bg-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 492px;
  }
  .section-header-button:hover,
  .section-header-button:focus {
    color: var(--primary-bg-color);
    background-color: #404bbf;
    cursor: pointer;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border: none;
  }
  .section-header-button {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    text-align: center;
    letter-spacing: 0.04em;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 170px;
    box-shadow: rgba(0, 0, 0, 0.15);
    border: none;
    transition: background-color 250ms var(--timing-function),
      box-shadow 250ms var(--timing-function);
    display: inline-block;
  }
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: left;
  }
  .text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
  .feature-list {
    display: flex;
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    padding: 0;
  }

  .feature-list .title {
    color: var(--title-text-color);
    margin-bottom: 8px;
  }
  .feature-list .text {
    color: var(--primary-text-color);
  }

  .feature-iteam {
    flex-basis: calc((100% - 24px) / 2);
  }

  .feature-iteam-icon {
    display: none;
  }
  /* our team */
  .our-team {
    background-color: #f4f4fd;
  }
  .team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    padding: 0;
  }
  .our-team-box {
    padding: 32px 0 12px 0;
  }
  .team {
    color: var(--title-text-color);
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
  }
  .team-title {
    color: var(--title-text-color);
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
  }
  .team-text {
    color: var(--primary-text-color);
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
  .our-team-fon {
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }
  .icon-link {
    display: flex;
    background-color: var(--accent-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
  /* Customers */

  .icon-link-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
  }
  .customers-title {
    color: var(--title-text-color);
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 72px;
  }
  .customers-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .logo-company {
    display: flex;
    gap: 24px;
    fill: currentColor;
  }
  .logo-company-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    color: #8e8f99;
    transition: color 250ms var(--timing-function),
      border-color 250ms var(--timing-function);
  }
  .logo-company-box:hover,
  .logo-company-box:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
    outline: var(--accent-color);
  }
  .logofooter {
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    color: #f4f4fd;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    display: inline-block;
    margin-bottom: 16px;
  }

  .footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
  }
  .footertext {
    color: #e7e9fc;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    max-width: 264px;
  }
  .social-media-title {
    color: #ffffff;
    font-weight: 600px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
  }
  .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .social-media {
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
  }
  .footer-link-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--timing-function);
  }
  .footer-link-logo:hover,
  .footer-link-logo:focus {
    background-color: #31d0aa;
  }

  .footer-position {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .part-position {
    display: flex;
    display: block;
  }
  .form {
    display: flex;
    align-items: flex-end;
    margin-right: 43px;
  }
  .email-input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    min-width: 264px;
    height: 40px;
    color: #ffffff;
    padding-left: 16px;
  }
  .form-subscribe {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    letter-spacing: 0.02em;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
  .form-subscribe-title {
    margin-bottom: 16px;
  }
  .email-input::placeholder {
    letter-spacing: 0.04em;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: rgba(255, 255, 255, 0.6);
  }
  .form-button {
    margin-left: 24px;
    position: relative;
    background-color: var(--accent-color);
    color: #ffffff;
    border: none;
    letter-spacing: 0.04em;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    padding: 8px 64px 8px 24px;
    position: relative;
    cursor: pointer;
    transition: background-color 250ms var(--timing-function),
      box-shadow 250ms var(--timing-function);
  }

  .buttom-icon {
    position: absolute;
    top: 10px;
    right: 24px;
  }

  .form-title {
    color: #ffffff;
    letter-spacing: 0.02em;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
  .part-for-tablet {
    display: flex;
    margin-bottom: 72px;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    overflow-y: scroll;
    transition: opacity 250ms var(--timing-function),
      visibility 250ms var(--timing-function);
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 408px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px, 2px, 1px rgba(0, 0, 0, 0.2), 0px, 1px,
      3px rgba(0, 0, 0, 0.12), 0px, 1px, 1px rgba(0, 0, 0, 0.14);
    transition: opacity 250ms var(--timing-function);
    position: relative;
    padding: 72px 24px 24px 24px;
  }

  .modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    cursor: pointer;
    border: 1px Solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms var(--timing-function),
      fill 250ms var(--timing-function);
  }
  .modal-button:hover,
  .modal-button:focus {
    background-color: #404bbf;
    fill: #ffffff;
    outline: #404bbf;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
  }
  .modal-form-title {
    margin-bottom: 14px;
    color: #2e2f42;
    letter-spacing: 0.02em;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
  .modal-form-input-desc {
    display: block;
    color: #8e8f99;
    letter-spacing: 0.04em;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    margin-bottom: 4px;
    margin-top: 8px;
    text-align: left;
  }
  .madal-form-field {
    margin-bottom: 26px;
  }
  .modal-form-input {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding-left: 38px;
    fill: black;
    transition: border-color 250ms var(--timing-function);
  }
  .modal-form-input-wrapper {
    display: block;
    position: relative;
  }
  .modal-form-input:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  .modal-form-input:focus + .modal-form-input-icon .icon-svg {
    fill: var(--accent-color);
  }
  .icon-svg {
    display: block;
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
    transition: fill 250ms var(--timing-function);
  }
  .modal-form-message {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms var(--timing-function);
    margin-bottom: 16px;
  }
  .modal-form-message::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-form-message:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  .modal-form-check-desk {
    display: flex;
    align-items: center;
    color: #757575;
    letter-spacing: 0.04em;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    margin-bottom: 24px;
  }
  .modal-form-check-desk::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1.25px solid #2e2f42;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
  }
  .modal-form-check:checked + .modal-form-check-desk::before {
    background-color: #404bbf;
    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .modal-form-check:focus + .modal-form-check-desk::before {
    outline: 1.25px solid #2e2f42;
  }
  .modal-form-submit {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    text-align: center;
    letter-spacing: 0.04em;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: inline-block;
    border: none;
    transition: background-color 250ms var(--timing-function),
      box-shadow 250ms var(--timing-function);
    align-self: center;
    margin-bottom: 24px;
  }
  .modal-form-submit:focus,
  .modal-form-submit:hover {
    color: var(--primary-bg-color);
    background-color: #404bbf;
    cursor: pointer;
    border: none;
  }
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

/* DESKTOP */
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .contacts {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
  .contacts .iteam + .iteam {
    margin-left: 40px;
  }
  .section-header {
    padding-bottom: 188px;
    padding-top: 188px;
    height: 603px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-desktop.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .section-header {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-desktop@2x.webp);
    }
  }
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1, 2;
  }
  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.2;
  }
  .feature-list {
    display: flex;
    gap: 24px;
  }
  .feature-list .title {
    color: var(--title-text-color);
    margin-bottom: 8px;
  }
  .feature-list .text {
    color: var(--primary-text-color);
  }
  .feature-iteam {
    max-width: 264px;
  }
  .feature-iteam-icon {
    background-color: #f4f4fd;
    border-radius: 4px;
    width: 100%;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .work {
    padding-top: 0;
  }
  .work-title {
    color: var(--title-text-color);
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
  }
  .work-list {
    display: flex;
    gap: 24px;
  }
  .team-list {
    display: flex;
    gap: 24px;
  }
  .team {
    color: var(--title-text-color);
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
  }
  .customers-list {
    display: flex;
    gap: 24px;
  }

  .footertext {
    color: #e7e9fc;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    width: 264px;
  }
  .social-media {
    margin-left: 120px;
  }

  .footer-position {
    display: flex;
    align-items: baseline;
    flex-direction: row;
  }

  .form {
    display: flex;
    align-items: flex-end;
    margin-left: 100px;
  }
  .part-for-tablet {
    display: flex;
    margin-bottom: 0px;
  }
}

/* Portfolio */
.projects-button {
  color: var(--accent-color);
  background-color: #f4f4fd;
  text-align: center;
  letter-spacing: 0.04em;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 16px;
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.projects-button:hover,
.projects-button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.pictures {
  margin-top: 92px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.picture-box {
  max-width: 360px;
  max-height: 420px;
  transition: box-shadow 250ms var(--timing-function);
}
.picture-box:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.picture-box-iteam {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: auto;
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-top: none;
}
.projects-title {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.projects-text {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.line {
  text-decoration: none;
}

.list-portfolio {
  padding-top: 92px;
  padding-bottom: 100px;
}

.thumb {
  position: relative;
  overflow: hidden;
}
.thumb-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px 332px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: #4d5ae5;
  color: #f4f4fd;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);
}
.over:hover .thumb-text {
  transform: translateY(0%);
  opacity: 1;
}
